<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>数据列表</h1>
<table border="1">
    <tr>
        {% for item in table_header_list %}
            <td>{{ item }}</td>
        {% endfor %}
        {% for row in table_body_list %}
            <tr>
            {% for field in row %}
                <td>
                {{ field }}
                </td>
            {% endfor %}

            </tr>
        {% endfor %}

    </tr>
</table>
</body>
</html>